
#arg{
    position:relative;
    left:200px;
}

#sign{
    float: right;
    border: solid;
    
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color:white;
}
#slogan{
    text-align:center;
    color:white;
}
#first{
    float: left;
}
#drop{
 position: relative;
 float:right;
}
#homedrop{
    position:relative;
    
}

#about{
    position:absolute;
    top:200px;
    left:1px;
    color:white;
    background-color:black;
}

#arg{
    position:absolute;
    left:270px;
}
#yum2{
    position:absolute;
    left:440px;
}
body {
  padding: 70px 0;
  font: 15px/20px Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
} 
.f {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
}

.next, .prev {
  color: white;
  background-color:black;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }
.img-circle{
    width:100px;
    height:100px;
    position:absolute;
    top:200px;
}

#cake{
    position:absolute;
    top:240px;
    font-family:bold;
    font-size:20px;
}
#contact{
 position:absolute;
 top:650px;
 left:15px;
 width:750px;
 height:120px;
 color:white;
 background-color:black;
}
 
#pic1{
    background:url("Gallery/yup.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
#pic2{
    background:url("Gallery/Wedding.jpg");
     background-repeat:no-repeat;
    background-size:cover;
}
#pic3{
    background:url("Gallery/arg.jpg");
     background-repeat:no-repeat;
    background-size:cover;
}
#pic4{
    background:url("Gallery/nanda.jpg");
     background-repeat:no-repeat;
    background-size:cover;
}
#pic5{
    background:url("Gallery/dazzle.jpg");
     background-repeat:no-repeat;
    background-size:cover;
}
#pic6{
    background:url("Gallery/stack.jpg");
     background-repeat:no-repeat;
    background-size:cover;
}
#browse{
    position:absolute;
    left:20px;
    top:530px;
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
}
#mang{
    position:absolute;
    left:150px;
    
}
#crunch{
    position:absolute;
    left:550px;
}
#crunchy{
    position:absolute;
    left:710px;
}

#marshmallow{
    position:absolute;
    left:810px;
}
#crepe1{
    position:absolute;
    left:980px;
    top:200px;
}
#crepe2{
    position:absolute;
    left:1090px;
     top:200px;
}
#seemore{
    position:absolute;
    top:320px;
    left:40px;
}
#now{
    font-size:15px;
    text-align:center;
}
#Hcreate{
    position:absolute;
    left:167px;
}
#Hsignup{
    position:absolute;
    top:540px;
    left:800px;
    color:white;
    background-color:black;
}

nav{
    height:130px;
}
#fast{
    position:absolute;
    top:200px;
    left:30px;
    width:1200px;
    height:600px;
    color:white;
    background-color:black;
}
#Cinput{
    width:200px;
}
#mankey{
    position:absolute;
    top:250px;
    left:500px;
}
#lolo{
    position:absolute;
    top:190px;
    left:500px;
     font-family: 'Dancing Script', cursive;
}

h2{
     font-family: 'Dancing Script', cursive;
    text-align: center;
    position:absolute;
    top:5px
 
}
#Phome{
    position:absolute;
    top:180px;
    left:120px;
  
   
}
#Pgal{
    position:absolute;
    top:180px;
    left:210px;
}
#Pord{
    position:absolute;
    top:180px;
    left:310px;
}
#Pro{
    position:absolute;
    top:180px;
    left:10px;
    
    
}
#confirm{
    position:absolute;
    top:200px;
    left:450px;
    height:250px;
    width:470px;
    color:white;
    background-color:black;
}
#thanks{
    position:absolute;
    top:300px;
    left:450px;
    height:250px;
    width:400px;
    color:white;
    background-color:black;
}
#c2home{
    position:absolute;
    top:170px;
    left:130px;
    
}



.btn { /* just for this demo. */
    margin-top: 5px;
}
.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}
.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}




#maptext{
    text-align: center;
}

