body{
padding:150px;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color:white;
}
#slogan{
    text-align:center;
    color:white;
}
h2{
    color:white;
}
nav{
    height:150px;
}
#first-name{}